* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 90vh;
  color: #22223b;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #fefae0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.winner {
  width: 400px;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: black;
}

.display-section {
  z-index: 999;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

#computerImage,
#playerImage {
  width: 100px;
  display: block;
}

.display-section h2 {
  z-index: 999;
}

.selection-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 450px;
  height: 30px;
}

.computer,
.player {
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 300px;
  gap: 30px;
}
.no-pointer {
  transform: rotate(-90deg);
  transition: transform 0.4s;
  width: 50vh;
}
.cards {
  display: flex;
  width: 100%;
  justify-content: center;
}

.img {
  width: 100%;
  height: auto;
  background-color: white;
  border-radius: 5px;
  pointer-events: none;
}

.no-pointer:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* Winner*/
a {
  padding: 10px 30px;
  background-color: #22223b;
  color: #fefae0;
  text-decoration: none;
}

a:hover {
  background-color: #4a4a54;
}
